{% extends 'base.html.twig' %}

{% block title %}{{'add Comment' | trans}}{% endblock %}

{% block body %}
    <h2>{{ 'Add comment'| trans }}</h2>
    {{ form_start(comment_form) }}
    <div>
        {{ form_row(comment_form.content) }}
    </div>
    {{ form_end(comment_form) }}
{% endblock %}
