{% extends 'base.html.twig' %}

{% block body %}
    {% block content %}
        <div class="content">
            <div id="article">
                <div id="articleTitle">
                    <h1>{{ article.title }}</h1>
                    <img src="{{ asset('uploads/'~  article.image) }}" alt="article's image" id="articleImage">
                </div>

                <div id="articleContent">
                    {{ article.content }}
                </div>
            </div>

            <div id="commentArticle">
                <h2>Comments</h2>
                {% for comments in article.comment %}
                    <div id="comment">
                        <div>
                            <p id="userComment">{{ comments.user.username }}</p> <img
                                    src="{{ asset('uploads/' ~ comments.user.image) }}" alt="avatar user"
                                    class="userAvatar">
                        </div>

                        <p id="commentContent">{{ comments.content }}</p>
                    </div>
                {% endfor %}
            </div>

            <div id="addComment">
                {% if app.user %}
                    <a href="{{ path('app_add_comment', {'slug' :article.slug  }) }}">{{ 'Add comment' |trans }} </a>
                {% else %}
                    <p>You must be logged for posting a comment</p>

                {% endif %}
            </div>
        </div>
    {% endblock %}
{% endblock %}