{% extends 'base.html.twig' %}

{% block body %}
    {% block content %}
        <div class="content">
            <div id="article">
                <div class="articleTitle">
                    <h1>{{ article.title }}</h1>
                    <img src="/assets/uploads/{{ article.image }}" alt="article's image">
                </div>

                <div id="articleContent">
                    <div>
                        {{ article.content }}
                    </div>
                </div>
            </div>

            <div id="commentArticle">
                <h2>Comments</h2>
                <div id="comment">
                    {% for comments in article.comment %}
                        <p>{{ comments.user.username }}</p> <img src="uploads {{ comments.user.image }}" alt="">
                        <p>{{ comments.content }}</p>
                    {% endfor %}
                </div>
            </div>

            <div id="addComment">
                {% if app.user %}
                        <a href="{{ path('app_add_comment', {'slug' :article.slug  }) }}">{{ 'Add comment' |trans }} </a>
                    {% else %}
                        <p>You must be logged for posting a comment</p>

                {% endif %}
            </div>
        </div>
    {% endblock %}
{% endblock %}