{% extends 'base.html.twig' %}

{% block title %} List article {% endblock %}

{% block body %}
    {% block content %}
        {% if articles is defined %}
            {% for article in articles %}
                    <div class="info">
                        <p>{{ article.title }}</p>
                        <p><a href="{{ path('app_article_edit', {id :article.id}) }}">{{ 'Edit Article' | trans }}</a></p>
                        <p><a href="{{ path('app_article_delete', {id :article.id}) }}">{{ 'Delete Article' | trans }}</a></p>
                    </div>
            {% endfor %}
        {% endif %}
    {% endblock %}
{% endblock %}